.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(128, 128, 128, 0.5);
  width: 252px;
  margin: 10px;
  position: relative;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.description{
  margin: 10px 5px 5px 5px;
}

.image {
  width: 250px;
  height: 250px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  object-fit: cover;
}