footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

footer img {
  height: 60px;
  width: 60px;
}

footer p {
  font-size: 20px;
  margin-top: -3px;
}