.container {
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
}

.name {
  font-size:36px; 
}

.cart {
  height: 35px;
  width: 35px;
  margin: 20px 10px 10px 10px;
}