.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
}

.name {
  font-size:36px; 
}

.links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.link {
  text-decoration: none;
  margin: 10px;
  font-size: 24px;
  color: black;
}

.cart {
  height: 30px;
  width: 30px;
  margin: 20px 10px 10px 10px;
}